
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="public/stylesheets/login.css">
</head>
<body>




<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="/public/images/admins.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="email"><b>Username</b></label>
    <input type="email" placeholder="Enter Email" name="uname" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button class="loginBtn" type="submit">Login</button>
   
  </div>

  <%# <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> %>
</form>

</body>
</html>